<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/diet.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
  
  </head>
  <style>
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Open Sans';
      overflow-x: hidden;
    }
  </style>
  <body>
    <h1>HOME PAGE - CADASTRO DE USUARIOS</h1>
    <a href="{% url 'cadastro' %}">CADASTRO</a>
    <a href="{% url 'lista' %}">LISTAGEM</a>

  </body>
</html>