<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/diet.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
  
  </head>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Open Sans';
      overflow-x: hidden;
    }
  </style>
  <body>
    <a href="{% url 'home' %}">HOME</a>
    <h1>VER-USUAIROS</h1>

    {% for usuario in usuarios  %}
    <p>ID:{{ usuario.id_usuario }}</p>
    <p>Nome{{ usuario.nome }}</p>
    <p>Idade:{{ usuario.idade }}</p>
    {%  endfor %}
  </body>
</html>